#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff200;  /* Yellow */
  background-image: linear-gradient(yellow, #fff200);
  height: 100%;
}

#header_logo {
  grid-area: "logo";
  text-align: center;
}

#header_sections {
  grid-area: "sections";
  text-align: center;
  color: #48b444;
}

#header_section_1 {
  grid-area: "header_section_1";
}

#header_section_2 {
  grid-area: "header_section_2";
}

#header_section_3 {
  grid-area: "header_section_3";
}

#header_section_4 {
  grid-area: "header_section_4";
}

#header_sections li {
  padding: 10px;
  list-style-type: none;
}

.header_section {
  margin: 10px;
}

@media(min-width: 600px) {
  #header_sections li {
    display: inline;
  }
}
