@import "header.css";
@import "footer.css";

html {
  scroll-behavior: smooth;
}

#container {
  display: flex;
  flex-direction: column;
  /*border: 2px dotted blue;*/
}

#company_logo {
  width: 150px;
}

/*.feature {
  background-color: #81371c;
}*/

.feature_link {
  color: #81371c;
  text-decoration: none;
}

.feature_content {
  display: block;
  /*height: 100vh;*/
  background-color: #f8f0e3;
  /*border: 3px solid purple;*/
  text-align: center;
  padding-bottom: 10px;
}

.feature_button {
  background-color: blue;
  color: white;
  height: 50px;
  width: 200px;
}

.feature_image {
  padding: 10px 0px;
}

.feature_title_container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    "title min_max";
  height: 75px;
  background-color: #9cbf27; /* brown */
  color: white; /* light tan: #fed8a7 */
  align-items: center;
  justify-content: center;
  border: 3px solid #d5de21; /*#fed8a7;*/
  border-style: ridge;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#feature_1_title {
  grid-area: "title";
}

.feature_image {
  width: 95%;
}

.feature_text {
  padding: 0px 10px;
}

.feature_min_max {
  grid-area: "min_max";
  width: 30px;
  height: 30px;
  /*border: 1px solid blue;*/
}

.review_text {
  padding: 0px 10px;
}

.rating_image {
  width: 100%;
}

/*#feature_1_content {
  background-color: beige;
}

#feature_2_content {
  background-color: silver;
}

#feature_3_content {
  background-color: chartreuse;
}

#feature_4_content {
  background-color: indigo;
}*/

#go_to_top {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  margin: 30px 30px;
}

.feature_title {
  font-size: 34px;
  /*border: 1px solid green;*/
  padding-left: 20px;
}
